.feed-container {
  position: relative;
  background-color: white;
  box-shadow: 0px 2px 5px #888888;
  margin: 40px 15% 40px 15%;
}


.post-header {
  padding: 25px 0 25px 0;
}


.post-footer {
  padding: 20px;
}


.post-comment {
  padding: 0 20px 0 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
