@import url('//fonts.cdnfonts.com/css/billabong');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@500&display=swap');


body {
  background-color:  #fafafa;
}


* {
  font-family: 'Catamaran', sans-serif;
}


ul {
  list-style-type: none !important;
}


.logo{
  padding-left: 50px;
  font-family: "billabong", sans-serif;
  font-size: 45px;
  position: relative;
  margin-bottom: 2px;
  background: linear-gradient(0deg, rgba(252,0,255,1) 0%, rgba(0,219,222,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.custom-navigation{
  background-color: #ffffff;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


.search-container{
  padding-top: 16px;
  margin-left: 90px;
  width: 200px;
}


.search-container input {
  background-color: #fafafa;
  background-image: none;
  height: 30px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  font-size: 14px;
  padding: 5px 35px 5px 35px;
  width: 200px;
}


.nav-list {
  display: inline-block;
  padding: 15px 5px 5px 10px;
}


.dropdown-list {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


.nav-favicon {
  width: 35px;
  height: 35px;
}


.badge {
  position: absolute;
  padding: 4px 6px 4px 6px;
  bottom: 37px;
  left: 286px;
  font-size: 10px;
}


#dropdown-menu {
  display: none;
}


#dropdown-menu.show {
  display: block;
}


.notifications-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 600px;
}


.notification {
  width: 100%;
  height: 150px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 15px;
  position: relative;
}


.notification-profiler {
  position: absolute;
  inset: 0 80% 0 0;
  display: grid;
  place-items: center;
}


.notification-message {
  position: absolute;
  inset: 0 15% 0 20%;
  display: grid;
  align-items: center;
  justify-items: start;
  font-size: 17px;
}


.notification-status {
  position: absolute;
  inset: 0 0 0 85%;
  display: grid;
  place-items: center;
  font-size: 15px;
}


.follower-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 600px;
}



.follower {
  width: 100%;
  height: 150px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 15px;
  position: relative;
}


.follow-profiler-container {
  position: absolute;
  inset: 0 80% 0 0;
  display: grid;
  place-items: center;
}


.follow-profiler {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}


.follow-username {
  position: absolute;
  inset: 0 35% 0 20%;
  display: grid;
  align-items: center;
  justify-items: start;
}


.follow-button {
  position: absolute;
  inset: 0 0 0 65%;
  display: grid;
  place-items: center;
}


.heading-container{
  display: grid;
  place-items: center;
  padding-top: 35px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.headings {
  font-size: 45px;
  font-family: 'billabong', sans-serif;
}


.sub-headings {
  font-size: 20px;
  font-family: 'billabong', sans-serif;
}
