@import url('//fonts.cdnfonts.com/css/billabong');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@500&display=swap');

body {
  background-color:  #fafafa;
}

* {
  font-family: 'Catamaran', sans-serif;
}

.logo {
  padding: 0px 15px 30px 15px;
  font-family: "billabong", sans-serif;
  font-size: 65px;
  position: relative;
  margin-bottom: 40px;
  margin-top: -10px;
  background: linear-gradient(0deg, rgba(252,0,255,1) 0%, rgba(0,219,222,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.contain {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-container {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 40px 70px 70px 70px;
  text-align: center;
  box-shadow: 0px 2px 3px #888888;
}


.signup-container {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 19px 0px 13px 0px;
  margin-top: 10px;
  text-align: center;
  box-shadow: 0px 2px 3px #888888;
}


.input-boxes{
  background-color: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 38px;
  text-align: left;
  width: 250px;
  padding-left: 10px;
}

.login-button {
  margin-top: 5px;
  width: 100%;
}
