@import url('//fonts.cdnfonts.com/css/billabong');

body{
  background-color:  #fafafa;
}

.logoFont{
  font-family: "billabong", sans-serif;
  color: black;
  font-size: 48px;
  position: relative;
}

.custom-navigation{
  background-color: #ffffff;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.custom-btn{
  background-color: white;
  color: black;
  border-width: 0px;
  font-size: 25px;
  padding: 23px 5px 0px 5px;
}

.nav-icons{
  margin-left: 100px;
}


#post {
  width: 13%;
  height: 18%;
  background-color: white;
  padding-top: 17px;
  margin-left: 7px;
}

#heart {
  width: 18%;
  height: 23%;
  background-color: white;
  padding-top: 17px;
  margin-left: 7px;
}

#user {
  margin-left: 8px;
  width: 15%;
  height: 20%;
  background-color: white;
  padding-top: 17px;
}

.search-container{
  position: relative;
  padding-top: 25px;
  text-align: center;
}

.search-container input {
  background-color: #fafafa;
  height: 30px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  font-size: 14px;
  padding: 5px 35px 5px 35px;
}


.login-box{
  background-color: white;
  margin: 200px 300px 5px 300px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 25px;
}

.form-inputs{
  margin: 5px;
  text-align: center;
}

.input-boxes{
  background-color: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 40px;
  text-align: left;
  margin: 5px;
  width: 300px;
}

.sign-up-box{
  background-color: white;
  margin: 5px 300px 5px 300px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.sign-up-inputs{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
