{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="follower-container">
    {% for profile in user.followers.all %}
      <div class="follower">
          <div class="follow-profiler">
              {% if profile.profile_picture %}
                <img class="post-profiler" src="{{profile.profile_picture.url}}" alt="profile_picture">
              {% else %}
                <img class="post-profiler" src="{% static 'images/profile_placeholder.jpg' %}" alt="default_photo">
              {% endif %}
          </div>
          <div class="follow-username">
              <a href="{% url 'accounts:profile' profile.username %}">{{profile.username}}</a>
          </div>
          <div class="follow-button">
            {% if profile.username != request.user.username %}
                {% if user in profile.followers.all %}
                    <p>Following</p>
                {% else %}
                    <a href="{% url 'accounts:follow' profile.username %}">Follow</a>
                {% endif %}
            {% endif %}
          </div>
      </div>
    {% endfor %}
</div>



{% endblock %}
