<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>jordiigram | Sign up</title>

    <!-- Connect to Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- CSS Sheet -->
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">

  </head>
  <body>
    <div class="contain">
      <div class="login-container">
        <form method="POST">
          {% csrf_token %}
          <div class="">
            <a class="logo" href="#">jordiigram</a><br><br>
            {{form.as_p}}
            <input type="submit" value="Sign up" class="btn btn-primary btn-large"><br><br>
          </div>
        </form>
      </div>
      <div class="signup-container">
        <p class="">Have an account? <a href="{% url 'accounts:login' %}">Log in</a></p>
      </div>
    </div>
  </body>
</html>
