{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="heading-container">
    <p class="headings">Welcome to your Feed</p>
    <p style="sub-headings">Here you can browse through recent posts of profiles that you're following.</p>
</div>
    {% for post in posts %}
    <div class="feed-container">
            <div class="post-header">
              {% if post.user.profile_picture %}
                <img class="post-profiler" src="{{post.user.profile_picture.url}}" alt="profile_picture">
              {% else %}
                <img class="post-profiler" src="{% static 'images/profile_placeholder.jpg' %}" alt="default_photo">
              {% endif %}
              <a class="post-username" href="{% url 'accounts:profile' post.user.username %}"><b>{{post.user.username}}</b></a>
              <div class="post-options">
                  <img id="{{post.id}}" class="options-image" style="width:45px;height:45px;cursor:pointer;" src="{% static 'images/ellipsis2.png' %}" alt="">
                  <div class="dropdown-menu post-dropdown-options" id="post-dropdown-options-{{post.id}}">
                        <li><a class="share-link" data-url="www.jordiigram.com{{post.get_absolute_url}}" href="#">Share Link</a></li>
                        <li><a href="{% url 'posts:report' post.pk %}">Report</a></li>
                  </div>
              </div>
            </div>

            <img src="{{MEDIA_URL}}{{post.photo.url}}" alt="{{post.caption}}" width="100%" height="100%">

            <div class="post-footer">
                <div class="post-caption">
                    <p><a class="comment-username" href="{% url 'accounts:profile' post.user.username %}"><b style="font-size:15px;">{{post.user.username}} </b></a> <i>{{post.caption}}</i></p>
                </div>

                <div class="post-comments">
                  {% for comment in post.comments.all %}
                    <p><a class="comment-username" href="{% url 'accounts:profile' comment.user.username %}"><b>{{comment.user.username}}</b></a> {{comment.comment}}</p>
                  {% endfor %}
                </div>

              <div class="post-likes">
                <form class="like-form" id="{{post.id}}" action="{% url 'posts:like' post.id %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{post.id}}">
                    <button type="submit" id="like-btn-id-{{post.id}}" class="like-btn{{post.id}} custom-like" data-liked="{{post.liked}}" data-post-id="{{post.id}}">
                        {% if post.liked %}
                            <img src="{% static 'images/heart-full.png' %}" height="35" width="35">
                        {% else %}
                            <img src="{% static 'images/heart-empty.png' %}" height="35" width="35">
                        {% endif %}
                    </button>
                </form>

                <div class="like-count{{post.id}}">
                    <a style="color:black;" href="{% url 'posts:likes' post.pk %}"><b>{{post.liked_post.count}} likes</b></a>
                </div>
                <p>{{post.time_created}}</p>

              </div>

              <div class="post-comment-form">
                <form method="POST" action="{% url 'feed' %}?post_id={{post.id}}" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="comment-input">
                      {{post.comment_form}}
                  </div>
                  <div class="post-comment-button">
                      <input type="submit" value="Post" class="comment-button">
                  </div>
                </form>
              </div>
            </div>
    </div>

    {% endfor %}
<script src="{% static 'js/like.js' %}"></script>
<script src="{% static 'js/feed_options.js' %}"></script>
<script src="{% static 'js/share_link.js' %}"></script>

{% endblock content %}
