<div class="">

  {% if notification.followed %}
    <a href="{% url 'status' notification.pk %}">
      {{notification.user}} just followed you.
      <p>Notification number: {{notification.pk}}</p>
      <p>{{notification.read_status}}</p>
    </a>

  {% elif notification.liked %}
  <a href="{% url 'status' notification.pk %}">
    {{notification.user}} liked your post.
    <p>Notification number: {{notification.pk}}</p>
    <p>{{notification.read_status}}</p>
  </a>

  {% else %}
  <a href="{% url 'status' notification.pk %}">
    {{notification.user}} commented on your post.
    <p>Notification number: {{notification.pk}}</p>
    <p>{{notification.read_status}}</p>
  </a>
  {% endif %}

</div>
