{% load static %}

<div class="post-thumbnail">
    <a href="#">
      <img class="thumbnail-view" src="{{MEDIA_URL}}{{post.photo.url}}" data-toggle="modal" data-target="#postModal{{post.pk}}" alt="{{post.caption}}" width="335" height="335">
    </a>
</div>


<div id="postModal{{post.pk}}" class="modal fade" tabindex="-1">
    <div class="modal-container">
        <div class="modal-image">
            <img src="{{MEDIA_URL}}{{post.photo.url}}" class="img-responsive">
        </div>
        <div class="modal-right">

          <div class="modal-header">
            <div class="profiler-container">
              {% if user.profile_picture %}
                <img class="profiler-small" src="{{user.profile_picture.url}}" alt="profile_picture">
              {% else %}
                <img class="profiler-small" src="{% static 'images/profile_placeholder.jpg' %}" alt="default_photo">
              {% endif %}
            </div>

              <div class="modal-username-container">
                  <b style="font-size:19px;">{{post.user.username}}</b>
              </div>

              <div class="modal-follow">
                {% if connected %}
                  <span style="font-size:18px;">&nbsp; &#8226; Following </span>
                {% elif user.username != request.user.username %}
                      <button style="background-color:#3897f0;padding:4px 7px 4px 7px;width:70px;" class="btn custom-button">
                        <a style="color:white;" href="{% url 'accounts:follow' username %}">Follow</a>
                      </button>
                {% endif %}
              </div>

              <div class="modal-options">
                  <img id="{{post.id}}" class="options-image" style="width:45px;height:45px;cursor:pointer;" src="{% static 'images/ellipsis2.png' %}" alt="">
                  <div class="dropdown-menu post-dropdown-options" id="post-dropdown-options-{{post.id}}">
                    <ul class="modal-lists">
                      {% if request.user.username == post.user.username %}
                          <li><a href="{% url 'posts:edit' post.pk %}">Edit Post</a></li>
                          <li><a href="{% url 'posts:delete' post.pk %}">Delete Post</a></li>
                      {% else %}
                          <li><a class="share-link" data-url="www.jordiigram.com{{post.get_absolute_url}}" href="#">Share Link</a></li><br>
                          <li><a href="{% url 'posts:report' post.pk %}">Report</a></li>
                      {% endif %}
                    </ul>
                  </div>
              </div>

          </div>

          <div class="modal-comments">
            <div class="container">
              <p><a class="comment-username" href="{% url 'accounts:profile' post.user.username %}"><b style="font-size:17px;">{{post.user.username}} </b></a> <i>{{post.caption}}</i></p>

              {% for comment in post.comments.all %}
                <p><a class="comment-username" href="{% url 'accounts:profile' comment.user.username %}"><b>{{comment.user.username}}</b></a> {{comment.comment}}</p>
              {% endfor %}

            </div>
          </div>

          <div class="modal-likes">
            <form class="like-form" id="{{post.id}}" action="{% url 'posts:like' post.id %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="post_id" value="{{post.id}}">
                <button type="submit" id="like-btn-id-{{post.id}}" class="like-btn{{post.id}} custom-like" data-liked="{{post.liked}}" data-post-id="{{post.id}}">
                    {% if post.liked %}
                        <img src="{% static 'images/heart-full.png' %}" height="35" width="35">
                    {% else %}
                        <img src="{% static 'images/heart-empty.png' %}" height="35" width="35">
                    {% endif %}
                </button>
            </form>
            <div class="like-count{{post.id}}">
                <a style="color:black;" href="{% url 'posts:likes' post.pk %}"><b>{{post.liked_post.count}} likes</b></a>
            </div>
            <p>{{post.time_created}}</p>
          </div>

          <div class="modal-addcomment">
            <form action="{% url 'accounts:profile' post.user.username %}?post_id={{post.id}}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="comment-left">
                  {{post.comment_form}}
              </div>
              <div class="comment-right">
                  <input type="submit" value="Post" class="comment-button">
              </div>
            </form>

          </div>
        </div>
   </div>
 </div>
